*{
    margin: 0;
    padding: 0;
    font-family: Palatino Linotype;
    scroll-behavior: smooth;
}
/* Estilo do corpo da página */
body {
  background-color: #c9b8a8;  
  color: #c9b8a8;
  
}
/* Cabeçalho */
header{
    background-color: #301d39;
    text-align: center; 
    padding: 40px;
    text-decoration: none;
    position: relative;
}
/* Ícone de "home" posicionado no canto */
.home{
    position: absolute;
    top: 40px;
    left: 80px;
}
/* Menu de navegação no header */
header nav{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 600;
}
/* Botões de navegação de páginas */
header a {
    color: #c9b8a8;
    text-decoration: none;
    font-size: 25px; 
    display: inline-block;
}
header nav a:hover{
    transform: scale(1.08);
    transition: .2s;
}
/* Botão de contato */
.botaoContato {
    color: #c9b8a8;
    background-color: #5a3044;
    padding: 15px 50px;
    font-family: Palatino Linotype;
    font-size: 25px;
    font-weight: 600;
    border-radius: 40px;
    border: 0;
    cursor: pointer;
}
/* Conteúdo */
main {
    color: #c9b8a8;
    padding: 40px;
    margin: center;
    display: flex;
    .container {
        width: 800px;
        margin: 20px auto;
        background-color: #5a3044;
        padding: 20px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 30px;
        
}
}
/* Imagem da página principal */
.imagem {
    width: 100%;
    margin: px;
    display: flex;
}
/* Rodapé de contatos */
footer {
    background-color: #301d39;
    text-align: center; 
    padding: 60px;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
}
footer a {
    text-decoration: none;
    color: #c9b8a8;
}
.espaco {
    margin-top: 200px;
    margin-bottom: 200px;
}
/* Página de projetos */
.container1 {
  display: flex;
  flex-direction: column;  
  align-items: center;    
  gap: 20px;             
  margin: 0 auto;
  padding: 20px;
}
/* Imagens dos projetos */
.imagemProjeto {
  width: 250px;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;                       
}